.page-card {
  text-align: center;

}

.card-title {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
  margin-right: 3rem;
}

.card-body {
  border-style: none;
  border-color: white;

}

.img-icon {
  margin-right: 60px;
}

.resumeLink {
  font-size: 25px;
}

.contactForm {
  margin-top: 2%;
  margin-right: 10rem;
  margin-left: 10rem;
  text-align: center;
  display: flex-inline;
  flex-direction: column;
  height: 250px;
  width: auto;
}

.img-fluid {
  border-color: black;
  border-width: 50px;
  border-radius: 170px;
  height: 350px;
  width: 350px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn-primary {
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-tabs {
  background-color: #d4ddf3;
  min-height: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  font-size: calc(10px + 2vmin);
  color: white;
}

.footline {
  margin-top: 3%;
  font-size: 20px;
}

.card {
  margin-top: 5rem;
  border: none !important;
}

.App-link {
  color: #4d5baa;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}